/* Please Make only Rhino and Zebra Blue */
.fourLegs {
  color: blue;
}
/* Please Make only Hufflepuff Gold */
#bestHouse {
  color: gold;
}
/* Please select Duck with the highest level of specificity possible */
section.middle + article.areDucksDinosaurs > h2.likesToQuack.fight1Or100 {
  color: purple !important;
}
